.page{
	margin: 20px 0 0 100px;
    list-style: none;
}
.page>li{
    float: left;
    padding: 5px 10px;
    cursor: pointer;
}
.page .pageItem{
    border: solid thin #DDDDDD;
    margin: 5px;
}
.page .pageItemActive{
    border: solid thin #ff6400;
    margin: 5px;
    background-color: #ff6400;
    color:white;
}
.page .pageItem:hover{
    border: solid thin #ff6400;
    background-color: #ff6400;
    color:white;
}
.page .pageItemDisable{
    border: solid thin #DDDDDD;
    margin: 5px;
    background-color: #DDDDDD;
}